img{
    vertical-align: bottom;
    width:640px;
    height:320px;
  }
  #slider{
    width:1000px;
    margin:0 auto;
    height:320px;
    position:relative;
    overflow:hidden;
  }
  #slider .tup{
    height:320px;
  }
  #slider img{
    position:absolute;
    opacity:0;
  }
  #slider img:hover{
    cursor:pointer;
  }
  #slider img.active{
    opacity:1;
    transition:opacity 2s linear;
  }
  #carsel{
    -webkit-user-select:none ;
    margin:0;
    padding:0;
    list-style: none;
    position:absolute;
    bottom:30px;
    right:300px;
  }
  #carsel li{
    float:left;
    width:20px;
    height:20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    background:#aaa;
    color:#fff;
    margin-left:10px;
    cursor:pointer;
    transition:all 1s linear;
  }
  #carsel li:hover{
    background:#0AA1ED
  }
  #carsel li.active{
    background:#0AA1ED;
  }
  #slider div.prev_pic{
    left:0px;
    background:url(../img/index/banner/arrow-left.png) no-repeat center center;
  }
  #slider div.next_pic{
    right:0px;
    background:url(../img/index/banner/arrow-right.png) no-repeat center center;
  }
  #slider div.ctrl-slider{
    position:absolute;
    width:50px;
    height:100px;
    background-color:rgba(11,11,11,0.2);
    top:50%;
    margin-top:-50px;
  }
  #slider div.next_pic{
      margin-right: 50px;
  }
  #slider div.ctrl-slider:hover{
    cursor: pointer;
    background-color:rgba(66,66,66,0.2)
  }