body{
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.content{
    /* position: relative; */
    margin:0 auto;
    width: 1210px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
}
.content .right{
    width:800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .right .top ul{
    margin:0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    border-bottom:1px solid #999; 
}
.content .right .top ul li{
    width: 78px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-left:20px;
    cursor: pointer;
}
.content .right .buttom p{
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
    color: #005ea7;
}
.content .right .buttom .b1{
    padding:4px;
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    border-bottom:1px dashed #999;
}
.content .right .buttom .b1 div:first-child{
    background:url("../img/jrys/vod_time.png") no-repeat 0px 80px;
    width:35px;
}
.content .right .buttom .b1 div:nth-child(2){
    width: 115px;
    text-align: center;
    line-height:200px; 
    font-size: 20px;
}
.content .right .buttom .b1 .m2 img{
    width:140px;
    height:200px;
}
.content .right .buttom .b1 div:nth-child(3){
    width:140px;
    height:200px;
}
.content .right .buttom .b1 div:last-child ul{
    margin:0px;
    width: 450px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-around;
}
.content .right .buttom .b1 div:last-child ul li:first-child{
    font-size: 20px;
    color: #000;
    font-weight: bolder;
}
.content .right .bt ul{
    padding:5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    border-bottom:2px solid #999;
}
.content .right .bt ul li{
    border-radius: 8px;
    width: 50px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #999;
    margin-left:5px;
    margin-top:-5px;
}
.content .right .bt ul li.actived{
    background:blue;
}
.content .right .bt ul li a.actived{
    color:#fff;
}
.content .right .bt ul li:hover{
    background: blue;
}
.content .right .bt ul li:hover a{
    color:#fff;
}
/* .content .right .bt ul li:first-child,
.content .right .bt ul li:last-child{
    width: 54px;
}
.content .right .bt ul li:nth-child(2),
.content .right .bt ul li:nth-child(8){
    width: 68px;
} */
.content .left{
    width:400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .left .top{
    margin-left:40px;
    height: 30px;
    line-height: 30px;
    font-size:20px;
    font-weight: bold;
    color:#666;
    border-bottom:1px solid #999;
}
.content .left ul{
    /* padding:0; */
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .left ul li{
    /* position: relative; */
    width: 400px;
    margin-top:10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start; 
}
.content .left ul li h4{
    /* position: absolute; */
    margin-top:0px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    padding: 0 30px;
    margin-bottom: 10px;
    cursor: pointer;
    background-image: linear-gradient(to bottom,#fff,#ddd);
}
.content .left ul li .b_div{
    /* display:none; */
    /* display: block; */
    /* position: absolute; */
    background: #eee;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start; 
}
.content .left ul li .b_div img{
    width:120px;
    height: 160px;
}
.content .left ul li .b_div ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-around;
}
.content .left ul li .b_div ul li{
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
}
.content .left ul li .b_div ul li span{
    color:#333;
    width: 50px;
}