#content{
    /* position: relative; */
    margin:0 auto;
    width: 1210px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
}
.rbys{
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-around;
}
.rbys .t{
    height: 42px;
    margin-top:10px;
    border-bottom: 2px solid #999;
}
.rbys .t h3{
    color:#999;
    margin-top:0px;
    display: block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    /* float: left; */
}
.rbys .b{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
}
.rbys .b div{
    position: relative;
    margin-left:18px;
    width:180px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-around;
    /* border:1px solid red; */
}
.rbys .b div img{
    width: 180px;
    height: 252px;
}
.rbys .b div span{
    position: absolute;
    display:block;
    width:180px;
    height:20px;
    border:1px solid pink;
    margin-top:100px; 
    background:rgba(12, 144, 63, 0.5);
    color:#fff;
}


body{
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.content{
    margin:0 auto;
    width: 1210px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
}
.content .right{
    width:800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .right .top{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    border-bottom:2px solid #999;
}
.content .right .top h1{
    margin:0px;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    color: #333;
}
.content .right .top ul{
    margin:0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
}
.content .right .top ul li{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bolder;
    color:#666;
    padding-left:15px;
    padding-right: 15px;
}
.content .right .middle{
    position: relative;
    margin-top:10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
}
/* #bgimg{
    position: absolute; 
    margin-left:250px;
    display: none;
} */
/* #bgimg.actived{
    display: block;
    position: absolute; 
    margin-left:250px;
} */
.content .right .middle img{
    width: 250px;
    height: 350px;
}
.content .right .middle ul li{
    margin-top:20px;
    font-size: 16px;
    color:#444;
}
.content .right .but{
    margin-top:10px;
}
.content .right .but .tp{
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #aaa;
    color:#444;
    font-weight: bolder;
}
.content .right .but .bt{
    font-size:16px;
    font-weight: bold;
    color:#999;
}
.content .left{
    width:400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .left .top{
    margin-left:40px;
    height: 30px;
    line-height: 30px;
    font-size:20px;
    font-weight: bold;
    color:#666;
    border-bottom:2px solid #999;
}
.content .left ul{
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .left ul li{
    width: 400px;
    margin-top:10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start; 
}
.content .left ul li h4{
    margin-top:0px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    padding: 0 30px;
    margin-bottom: 10px;
    cursor: pointer;
    background-image: linear-gradient(to bottom,#fff,#ddd);
}
.content .left ul li .b_div{
    background: #eee;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start; 
}
.content .left ul li .b_div img{
    width:120px;
    height: 160px;
}
.content .left ul li .b_div ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-around;
}
.content .left ul li .b_div ul li{
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
}
.content .left ul li .b_div ul li span{
    color:#333;
    width: 50px;
}