body{
    margin: 0 auto;
}
form{
    margin-left:40rem;
    margin-top:15rem;
    width:200px;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
form input{
    margin-top:10px;
    height: 20px;
}
form [submit]{
    width: 40px;
}