/* *{
    padding:0;
    margin: 0;
} */
body{
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.content{
    margin-left:80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .top{
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .top .tt{
    height: 40px;
    line-height: 40px;
    border-bottom:2px solid #999;
    /* margin-left:20px; */
}
.content .top .tt h3{
    font-size:22px;
    font-weight: bolder;
    margin-top:0px;
    margin-left:40px;
}
.content .top .tb{
    width: 1210px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
}
.content .top .tb div{
    width: 180px;
    height: 290px;
    margin-top:10px;
    margin-left:20px;
}
.content .top .tb img{
    width: 180px;
    height: 252px;
}
.content .top .tb p{
    margin-top: 10px;
    text-align: center;
}
.content .top .tb .tbottom{
    width: 179px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    /* border:1px solid red; */
    background: rgba(222,222,222,0.5);
    color: #fff;
    margin-top:-68px;
}
.content .middle{
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
}
.content .middle .right{
    width: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .middle .right .tp{
    margin-top:10px;
    border-bottom:2px solid #666;
}
.content .middle .right .tp ul{
    margin:0px;
    padding:0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
}
.content .middle .right .tp ul li{
    margin-left:20px;
    height: 32px;
    line-height: 32px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.content .middle .right .bt{
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .middle .right .bt ul li h3{
    width: 50px;
    margin: 0px;
    padding: 0px;
}
.content .middle .right .bt ul{
    margin-top:10px; 
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
}
.content .middle .right .bt ul+ul{
    margin-top:15px;
}
.content .middle .right .bt ul li{
    height: 30px;
    line-height: 30px;
    width: 52px;
    text-align: center;
    margin-left:10px;
    border:1px solid #999;
    border-radius: 8px;
}
.content .middle .right .bt ul li.actived{
    background: blue;
}
.content .middle .right .bt ul li:not(:first-child):hover{
    background: blue;
}
.content .middle .right .bt ul li:first-child{
    border:0;
}
.content .middle .right .bt ul li a.actived{
    color:#fff;
}
.content .middle .right .bt ul li:hover a{
    color:#fff;
}
.content .middle .right .list{
    width:800px;
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
}
.content .middle .right .list .cc{
    margin-left:10px;
    margin-top:15px; 
    width:390px;
    height:190px;
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    border-bottom:1px dashed #666;
}
.content .middle .right .list .cc img{
    width:140px;
    height:180px;
}
.content .middle .right .list .cc ul li{
    margin-top:13px;
    margin-left:12px;
}
.content .middle .right .list .cc ul li:first-child{
    font-size:18px;
    font-weight: bolder;
}
.content .middle .right .list .cc ul li a{
    color:#333;
}
.content .middle .left{
    margin-left:20px;
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}
.content .middle .left .top{
    border-bottom:2px solid #666;
    margin-left:10px;
    margin-top:10px;
}
.content .middle .left .top h3{
    margin:0px;
    padding:0px;
    margin-left:10px;
    height:32px;
    line-height: 32px;
}
.content .middle .left .but{
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
}
.content .middle .left .but .tp h3{
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    padding: 0 30px;
    margin-bottom: 10px;
    cursor: pointer;
    background-image: linear-gradient(to bottom,#fff,#ddd);
}
.content .middle .left .but .bt{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
}
.content .middle .left .but .bt img{
    width: 120px;
    height: 160px;
}
.content .middle .left .but .bt ul{
    margin-right:40px;
}
.content .middle .left .but .bt ul li{
    width: 200px;
    margin-top:16px;
}
.content .middle .left .but .bt ul li span{
    font-weight: bolder;
}
.content .buttom{
    margin-top:10px;
    border-bottom:2px solid #666;
}
.content .buttom ul{
    padding:10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
}
.content .buttom ul li{
    width: 35px;
    height: 32px;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    border:1px solid #999;
    border-radius: 8px;
    margin-right:20px; 
}
.content .buttom ul li.actived{
    background:blue;
    color:#fff;
}
.content .buttom ul li:first-child,
.content .buttom ul li:last-child{
    width: 54px;
}
.content .buttom ul li:nth-child(2),
.content .buttom ul li:nth-child(8){
    width: 68px;
}
.content .buttom ul li:hover{
    background: blue;
    color:#fff;
}