body{
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a{
    text-decoration: none;
}
.content{
    margin-left:80px;
    text-align: center;
    width: 1210px;
    height: 1950px;
    display: flex;
    flex-flow: column wrap;
    justify-content:flex-start;
}
.content div{
    margin-top:10px;
    margin-left: 10px; 
    border-radius:10px; 
    width: 220px;
    border:1px solid #666;
}
.content div img{
    margin-top:20px;
    margin-left:2px; 
    width: 180px;
    height: 250px;
}
.content div p{
    padding: 0;
    margin: 0;
    padding: 10px 15px;
    display: block;
    text-align: justify;
}
.content div p a{
    color: #005ea7;
}