<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/movie_list.css">
    <script src="js/js/vue.js"></script>
    <script src="js/js/axios.min.js"></script>
    <script src="js/js/jquery-1.11.3.js"></script>
    <script src="js/header.js"></script>
    <script src="js/footer.js"></script>
</head>
<body>
    <header id="header"></header>
    <!-- 列表页 -->
    <div id="content">
        <div class="rbys" id="rbys">
            <div class="t">
                <h3>热播影视</h3> 
            </div>
            <div class="b">
                <div v-for="key of list">
                    <img :src="key.img_url"  @click="change(key.id)">
                    <a href="javascript:;">{{key.title}}</a>
                    <span>更新至{{key.num}}集</span>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="right">
                <div class="top" id="hz">
                    <!-- v-for="key of list2" -->
                    <h1>{{list2.title}}({{list2.num}})</h1>
                    <ul>
                        <li>概述</li>
                        <li>剧情</li>
                        <li>演员表</li>
                        <li>评论</li>
                    </ul>
                </div>
                <div class="middle">
                    <img id="smimg" @mouseenter="inter" :src="list2.img">
                    <!-- <img id="bgimg" :src="list2.img" :display="dis" > -->
                    <!-- <img src="" :style="background-image('list2.img')"> -->
                    <ul>
                        <li>导演：{{list2.auther}}</li>
                        <li>主演：{{list2.uname}}</li>
                        <li> 地区：{{list2.area}}</li>
                        <li>类型：{{list2.lx}}</li>
                        <li>上映：{{list2.day}} 更新时间：{{list2.day}}</li>
                        <li>状态：更新至59集/共62集</li>
                        <li>评分：  请选星评分</li>
                    </ul>
                </div>
                <div class="but">
                    <div class="tp">《{{list2.title}}》剧情简介：</div>
                    <div class="bt">
                        耽美小说第一人风弄的小说《{{list2.title}}》也被爆列入影视计划——剧本由有志于打造“内地剧本梦工厂”的派乐传媒承接，而派乐传媒的创始人正是业内影视金牌编剧张永琛。晋、燕、凉、秦四国征战不休，晋国国力最强，晋国国王亲弟镇北王楚北捷（钟汉良饰）英勇善战、武功谋略过人，令其他三国闻风丧胆。晋燕交战之际，燕国敬安王府遭到沦陷，一夜之间王府覆灭。侍女白娉婷（杨颖饰）与小王爷何侠（孙艺洲饰）在逃亡时离散流落。在一寺庙里，楚北捷偶遇白聘婷，被她的琴声所倾倒，进而钟情相恋。但因为不同的阵营处境注定了两人此生情路坎坷，爱情虽浓却障碍重重，既有晋国国王的疑心，又有小敬安王何侠的各种挑拨，还要面对四国纷争不断的乱世天下。在种种困难前，楚北捷不改初心，情场上付深情，默默守护；战场上出奇兵，与白娉婷联手击败何侠，成功阻止了一场生灵涂炭的战争，共同守护了天下安宁。
                    </div>
                </div>
            </div>
            <div class="left" id="rbys">
                <div class="top">热门影视</div>
                <div class="bottom">
                    <ul>
                        <li v-for="key of list1">
                            <h4>{{key.title}}</h4>
                            <div class="b_div">
                                <div>
                                    <img :src="key.img_url">
                                </div>
                                <ul>
                                    <li><span>主演:</span>{{key.uname}}</li>
                                    <li><span>类型:</span>{{key.mold}}</li>
                                    <li><span>上映:</span>{{key.year}}年</li>
                                    <li><span>状态:</span>更新至{{key.num}}集</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer"></footer>
    <script>
        window.onload=function(){
        // 2.热播影视
        new Vue({
            el:"#content",
            data:{
                list:[],//热播影视
                list1:[],//热门电影
                list2:[],
                // dis:"none",
                // url:url(''),
                // backgroundImage:url,
                id:"",
                keyword:"",
            },
            methods:{
                getMore(){//热播影视
                    url="http://127.0.0.1:3000/getRbys";
                    axios.get(url).then((res)=>{
                        this.list=res.data;
                    })
                },
                change(id){//热播影视
                    this.id=id;
                    location.href="http://127.0.0.1:5500/movie_list.html?id="+id;
                },
                fun(){//热门电影
                    axios.get("http://127.0.0.1:3000/getRbys1").then(result=>{
                        this.list1=result.data;  
                    })
                },
                getId(id){
                    var url="http://127.0.0.1:3000/getId?id="+id;
                    axios.get(url).then(result=>{
                        this.list2=result.data[0];
                        console.log(result.data[0]);
                    })
                },
                getKeyWord(keyword){
                    var url="http://127.0.0.1:3000/getKeyword?keyword="+keyword;
                    axios.get(url).then(result=>{
                        this.list2=result.data[0];
                        console.log(result);
                    })
                },
                getWhat(){
                    //keyword 内容
                    var content1=location.search.split("=")[1];
                    var content2=location.search.split("=")[0].split("?")[1];
                    console.log(content1);//11  sdkljfjksda
                    console.log(content2);//id  keywords
                if(content2=='id'){
                    var id=content1;
                    this.getId(id);
                }else{
                    var keyword=decodeURI(content1);
                    this.getKeyWord(keyword);
                    console.log(keyword);
                }
                },
                inter(){
                    this.dis="none";
                    this.dis="";
                    console.log(111);
                }
            },
            created(){
                this.getMore();//热播影视
                this.fun();//热门电影
                this.getWhat();
            }
        });
    }
    </script>
</body>
</html>